footer {
    padding-top: 1rem;
    padding-bottom: 1rem;

    .col-sm-12:not(:first-child) {

        @media (max-width: 600px) {
            margin-top: 2rem;
            text-align: center;
        }
    }
    .conten{
        display: flex;
  flex-direction: column;
  align-items: center; /* Centre horizontalement */
  text-align: center;
    }
    .col-sm-9{
        display: flex; /* Dispose les images en ligne (horizontalement) */
        justify-content: center; /* Centre les images côte à côte */
        gap: 10px; /* Espacement entre les images */
        margin-left: 10%;
      }
      
      .col-sm-9 img {
        max-width: 50px; /* Taille maximale des images */
        height: auto;
      }
    .col-sm-12 {

        h4 {
            font-size: 1.4rem;
            text-align: center;
        }

        p {
            color: white;
            font-size: 1.3rem;
            text-align: center;
        }
         
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            margin-top: 1rem;
            text-align: center;

            li {
                margin-top: 1rem;
                font-size: 1.3rem;
                color: white;
                b {
                    color: white;
                }
                a {
                    font-size: 1.3rem;
                    color: white;
                }
                
            }
          
        }
    }
}