footer {

    .col-sm-12:not(:first-child) {

        @media (max-width: 600px) {
            margin-top: 1rem;
            text-align: center;
        }

    }
    .col-sm-9{
        display: block; 
        justify-content: center;
        @media (max-width: 600px) {
            display: ruby;
            align-items: center;
            flex-direction: column; 
            justify-content: center;
        }
      }
      
      .col-sm-9 img {
        max-width: 50px; /* Taille maximale des images */
        height: auto;
        gap: 10px;
        margin-inline-end: 4px;
        @media (max-width: 600px) {

            display: flex;
            align-items: center;
            flex-direction: column; 
            justify-content: center;
        }
      }
    .col-sm-12 {
        @media (max-width: 600px) {
            display: flex;
            align-items: center;
            flex-direction: column; 
            justify-content: center;
        }
        .pt-1{
            display: flexbox;
            justify-content: center;
            gap: 10px;
            @media (max-width: 600px) {
                display: flexbox;
                align-items: center;
                flex-direction: column; 
                justify-content: center;
            }
        }
        margin:0 auto;
        h4 {
            font-size: 1.5rem;
            text-align: justify;
        }

        p {
            color: white;
            font-size: 1.3rem;
            text-align: Justify;
        }
         
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            margin-top: 1rem;
            text-align: justify;
            @media (max-width: 600px) {
                display: flex;
                align-items: center;
                flex-direction: column; 
                justify-content: center;
            }

            li {
                margin-top: 1rem;
                font-size: 1.3rem;
                color: white;
                b {
                    color: white;
                }
                a {
                    font-size: 1.3rem;
                    color: white;
                }
                
            }
          
        }
    }
}