@import '../../utils//utils.scss';

.filter-row {
    background-image: linear-gradient(to top right, rgba(white, 0.9), rgba(white, 0.9)), 
    url('../../../assets//images/event.png');
    background-position: center;
    padding-top: 1.8rem;
    background-repeat: no-repeat;
    
    .filter {
    
        .react-datepicker, .react-datepicker-popper {
            z-index: 1000 !important;
        }
        
        .form-group {
            position: relative;
            
            input, select {
                width: 100% !important;
                height: 3.5rem;
                border: solid 1px rgba($maincolor, 0.4) !important;
                border-radius: 10px !important;
                background-color: white;
                &::placeholder {
                    color: #666;
                    font-size: 1.3rem;
                }
                &:focus {
                    box-shadow: inset 0 -1px 0 rgba($maincolor, 0.4);
                    border-bottom: solid 1px $maincolor !important;
                }
                @media only screen and (max-width: 600px) {

                    margin: 7px;
                    width: 50% !important;
                    float: left;
                }

            }
            .react-datepicker-wrapper {
                width: 100% !important;
            }
            label {
                position: absolute;
                top: -1.5rem;
                color: $maincolor;
                font-size: 1.3rem;
                @media only screen and (max-width: 600px) {

                    margin-top: 3px;
                }
            }
            #cat {
                top: -1.9rem !important;
                
            }
            .form-control{
                border-radius: 10px !important;
            }
        }
    
        .button {
            padding: 1.1rem 1.5rem !important;
            height: 4.1rem;
            border-radius: 50% !important;
            @media only screen and (max-width: 600px) {
                width: 50%;
                border-radius: 20px !important;
                margin-top: 3px;
            }
    
            svg {
                path {
                    fill: white;
                }
            }
        }
    }
}
