.dashboard {
    margin-bottom: 7rem;

    .container {
        @media only screen and (max-width: 900px) {
            padding: 2rem !important;
        }
    }

    
    h2 {
        @media only screen and (max-width: 900px) {
            font-size: 1.5rem;
        }
    }
    .old{
        margin-left: 10px;
    }
    .btn{
        border-radius: 25px; 
        @media only screen and (max-width: 1024px) {
            padding-left: 1rem;
            padding-right: 1rem;
            font-size: 1.3rem;
        }
        @media only screen and (max-width: 600px) {
            margin-left: 0 !important;
            margin-top: 1rem;
            font-size: 1.3rem;
        }
    }
    .add-buttom-wrapper {
        button {
            margin-left: 1rem;
            border-radius: 25px;
            @media only screen and (max-width: 1024px) {
                padding-left: 1rem;
                padding-right: 1rem;
                font-size: 1.3rem;
            }
            @media only screen and (max-width: 600px) {
                margin-left: 0 !important;
                margin-top: 1rem;
                font-size: 1.3rem;
            }
        }
        @media only screen and (max-width: 600px) {
            flex-direction: column !important;
        }
        
    }

    .container {
        background-color: white;
        border: solid 1px #eee;
        box-shadow: 0px 5px 10px #eee;
        border-radius: 3px;
    }

    .list-group {
        box-shadow: 0px 3px 13px#eee;
        border-radius: 20px;
        a {
            font-size: 1.4rem;
            padding-top: 1.3rem;
            padding-bottom: 1.3rem;
            font-weight: 600;
        }

        .active {
            background-color: #33475B;
            border-color: #33475B;
        }
        .list-group-item {
            @media only screen and (max-width: 600px) {
                font-size: 1.1rem;
            }
        }
    }
    input{
        border-radius: 10px;
        margin-bottom: 10px;
        font-size: 1.3rem;
    }
    table {
        border: solid 1px #e2e2e2;
        box-shadow: 0px 3px 13px#eee;
        border-radius: 20px !important;
        border-collapse: separate;
        border-spacing: 0;
        overflow: hidden;
        

        thead {
            padding: 8rem;
            border-radius: 20px !important;
        }
        th {
            font-size: 1.35rem;
            padding-top: 1.33rem;
            padding-bottom: 1.33rem;
            text-align: center;
           
        }
        td {
            font-size: 1.3rem;
            vertical-align: middle !important;
            @media only screen and (max-width: 600px) {
                font-size: 1.3rem;
            }
        }
        .date {
            @media only screen and (max-width: 600px) {
                display: none;
            }
        }
    }
#searchbar{
    margin-left: -18rem;
    font-size: 1.3rem;
}
.row{
    margin-bottom: 2rem;
}
    .deleteWrapper {
        button {
            font-size: 1.3rem;
            box-shadow: 0px 5px 10px #eee;
            @media only screen and (max-width: 600px) {
                font-size: 1.3rem;
            }
            svg {
                path {
                    fill: white !important;
                }
            }
        }
    }

    
}

.create-form {
    input[type=text], input[type=email], input[type=password], input[type=tel], input[type=number] {
            width: 100% !important;
            border-radius: 10px;
        }
}
